@charset "utf-8";
@import "var";
body{
	background:white;
}
/* 头部 */
.header{
	background: #f5f5f5; 
	width:$width;
	height:$height;
	z-index:999;
	@include bd2(bottom,#eee);
	.headerW{
		@include mgat();
		width:$w;
		height: $height;
		.headerleft{
			@include f();
			li{
				@include f();
			}
			a{
				line-height:$height;
				font-size: 12px;
				@include dis(inline-block);
				@include m(0,7px);
			}
			.login{
				color: map-get($color,fyan);
			}
			.ahov{
				color: map-get($color,gray2);
				&:hover{
					color: map-get($color,hov);
				}			
			}
			.phonet{
				margin-left: 10px;
			}
		}
		//@include css3(transition, 0.5s);  
		//@include opacity(0.8);
		.headerright{
			@include f(right);
			li{
				@include f();
				line-height:$height;
				&:hover .header-mytaobao{
					@include p(0px,5px,0px,5px);
					@include bd2(right,#EEE);
					@include bd2(left,#EEE);
					background: map-get($color,white);
				}
				&:hover .header-mytaobao-down{
					@include dis();
				}
				.header-mytaobao{
					@include p(0px,6px,0px,6px);
					height:$height;
					z-index:999;
					position:relative;	
				}
				.header-cart .site-nav-icon-highlight{
					margin:0 5px;
				}
			}
			.nav-up:hover a{
				color: map-get($color,hov);
			}
			.nav-up:hover span{
				color: map-get($color,hov);
				cursor:pointer;
			}
			.nav-up a{
				color: map-get($color,gray2);
				font-size: $fsize - 2;
				@include dis();
				@include f();
			}
			.site-nav-icon{
				@include f();
				@include dis();
			}
			.site-nav-arrow .site-nav-icon{
				@include m(-4px,20px);
			}
			.header-mytaobao-down{
				@include dis(none);
				@include p(8px,0px,8px);
				@include bdr(#EEE);
				background: map-get($color,white);
				position:absolute;
				margin-top:-1px;
				z-index:900;
				li{
					float:none;
				}			
			}
			.nav-down a{
				@include p(0,5px,0,5px);
				@include dis();
				line-height:$height - 7;
				color: map-get($color,gray5);
				&:hover{
					background: map-get($color,gray3);
				}
			}
			.header-classes a{
				margin-right:7px;
			}
			.header-pipe{
				float: left;
			    height: $height;
			    line-height: $height;
			    padding: 0 5px;
			    font-style: normal;
			    color: #ddd;
			}
			.header-map-down{
				@include dis(none);
				@include bdr(#EEE);
				background: map-get($color,white);
				position:absolute;
				right: 0px;
				margin-top:-1px;
				z-index:900;
				width: $w - 2;
				min-height: 300px;
			}
		}

	}
}
.header .headerW .headerright .header-map-li{
	position:relative;
	&:hover .header-map-down{
		@include dis();
	}
}
.map-list{
	width: 25%;
	@include f();
	.map-list-wrap{
		@include p(5px,5px,5px,5px);
		.map-title{

		}
		.map-main li{
			float: left;
		    padding-top: 5px;
		    width: 25%;
		    height: 25px;
		    overflow: hidden;
		    a{
		    	@include dis();
		    	@include p(0,8px,0,8px);
		    	@include m(0,2px,0,2px);
		    	@include radius(1234,2px);
		    	@include f();
		    	line-height: 26px!important;
		    	&:hover{
		    		color: #fff!important;
		    		background-color: #f50!important;
		    	}
		    }
		}
	}
}
.page{
	width:$w;
	@include mgat();
}
/* 导航 */
.nav{
	height:30px;
	padding:20px 0;
	margin-bottom:30px;
	li{
		height:30px;
		@include f();
		text-align:center;
		padding:10px 16px;
		line-height: 30px;
		a{
			color: #030303;
		    font-family: 微软雅黑;
		    font-size: 16px;
		    &:hover{
		    	color:#EC7A5D;
		    }
		}
	}
}


/* 主体 */
.content{
	width:990px;
	height:700px;
	position:relative;
	.small{
		width:418px;
		height: 418px;
		position:relative;
		@include f();
		img{
			width:100%;
			height:100%;
		}
		.mask{
			position: absolute;
			background: rgba(169,255,0,0.5);
			cursor:all-scroll;
			visibility:hidden;
		}
	}
	.big{
		position:absolute;
		left:430px;
		top:0;
		width:418px;
		height:418px;
		overflow: hidden;
		z-index: 99;
		visibility:hidden;
		@include opacity(0.7);
		img{
			position: absolute;
			left:0px;
			top:0px;
		}
	}
	.wrap{
		width:410px;
		height:60px;
		overflow: hidden;
		position:absolute;
	    top: 430px;
		ul{
			width:468px;
			height:60px;
			position:absolute;
			left:10px;
			li{
				padding:0 9px;
				@include f();
			}
			img{
				cursor:pointer;
			}
			.selected img{
				width:56px;
				height:56px;
				border: 2px solid #000;
			}
		}
		.btn{
			position:absolute;
			height:60px;
			width:15px;
			text-align:center;
			line-height:60px;
			border:2px solid #000;
			box-sizing:border-box;
			cursor:pointer;
			@include css3(user-select,none);
		}
		#btnleft{
			left:2px;
		}
		#btnright{
			right:0;
		}
	}
	.detail{
		width: 548px;
		height:100%;
		@include f();
		padding-left:20px;
		.title{
			font-size: 16px;
			line-height:16px;
			padding:10px 0;
		}
		.juhuasuan{
			width:470px;
			height:40px;
			background-color:#2da77a;
			line-height:40px;
			padding-left:50px;
			font-weight: 600;
			font-size: 14px;
			color:white;
		}
		.on-sale{
			width: 520px;
			height: 98px;
			padding:5px 0;
			background:url(../img/detail-bg.png) no-repeat;
			line-height:98px;
			p{
				display:inline;
				padding-left:50px;
			}
			span{
				padding-left:50px;
				em{
				    color: #FF0036;
    				font-size: 18px;
				}
				i{
				    color: #FF0036;
				    font-size: 24px;
				    font-weight: bolder;
				}
			}
		}
		.join-cart{
			height:500px;
			background:url(../img/join-cart.png) no-repeat;
			position:relative;
			.buy{
				width:180px;
				height: 38px;
				background-color: #ff0036;
			    border: 1px solid #ff0036;
			    color: #fff;
			    position:absolute;
			    left: 267px;
    			top: 362px;
    			line-height:38px;
    			text-align: center;
    			font-size: 16px;
    			cursor:pointer;
			}
		}
	}
}

.detail-bg{
	width:990px;
	height:1485px;
	background:url(../img/detail-bg2.png) no-repeat;
}

/* 侧边栏 */
.side{
	position:fixed;
	width:35px;
	height:100%;
	right:0;top:0;
	z-index:99;
	background-color:#000;
	.cart{
		margin:8px 3px;
		width: 29px;
		color:white;
		position:absolute;
		top: 150px;
		font-size: 16px;
		text-align:center;
		cursor:pointer;
		&:hover{
			background-color:#ff0036;
		}
	}
}
/* 底部 */
.footer{
	position: relative;
    margin: 60px auto 0;
    padding: 7px 0 9px;
    border-top: 1px solid #ddd;
    width: 1200px;
    a{
    	display: inline;
	    float: left;
	    margin: 0 8px;
	    white-space: nowrap;
	    color: #6c6c6c;
    }
    a:hover{
		color: #f40;
    }
    li{
    	@include f();
    }
    .footmap{
    	height:20px;
    	padding-bottom:20px;
    	border-bottom: 1px solid #ddd;
    }
    p{
    	display:inline-block;
    	@include f();
    }
    .foot-cooperate{
    	height:20px;
    	margin-top:10px;
    	.last-li{
    	    margin-left: 30px;
    	    color: #9c9c9c;
    	}
    }
    .foot-ft{
    	height:20px;
    	margin-top:10px;
    	li{
    		color: #9c9c9c;
    		margin: 0 8px;
    	}
    }
}