@charset "utf-8";
@import "var";
/* 头部 */
.header{
	width:$width;
	height:$height;
	z-index:999;
	@include bd2(bottom,#eee);
	.headerW{
		@include mgat();
		width:$w;
		height: $height;
		.headerleft{
			@include f();
			li{
				@include f();
			}
			a{
				line-height:$height;
				font-size: 12px;
				@include dis(inline-block);
				@include m(0,7px);
			}
			.login{
				color: map-get($color,fyan);
			}
			.ahov{
				color: map-get($color,gray2);
				&:hover{
					color: map-get($color,hov);
				}			
			}
			.phonet{
				margin-left: 10px;
			}
		}
		//@include css3(transition, 0.5s);  
		//@include opacity(0.8);
		.headerright{
			@include f(right);
			li{
				@include f();
				line-height:$height;
				&:hover .header-mytaobao{
					@include p(0px,5px,0px,5px);
					@include bd2(right,#EEE);
					@include bd2(left,#EEE);
					background: map-get($color,white);
				}
				&:hover .header-mytaobao-down{
					@include dis();
				}
				.header-mytaobao{
					@include p(0px,6px,0px,6px);
					height:$height;
					z-index:999;
					position:relative;	
				}
				.header-cart .site-nav-icon-highlight{
					margin:0 5px;
				}
			}
			.nav-up:hover a{
				color: map-get($color,hov);
			}
			.nav-up:hover span{
				color: map-get($color,hov);
				cursor:pointer;
			}
			.nav-up a{
				color: map-get($color,gray2);
				font-size: $fsize - 2;
				@include dis();
				@include f();
			}
			.site-nav-icon{
				@include f();
				@include dis();
			}
			.site-nav-arrow .site-nav-icon{
				@include m(-4px,20px);
			}
			.header-mytaobao-down{
				@include dis(none);
				@include p(8px,0px,8px);
				@include bdr(#EEE);
				background: map-get($color,white);
				position:absolute;
				margin-top:-1px;
				z-index:900;
				li{
					float:none;
				}			
			}
			.nav-down a{
				@include p(0,5px,0,5px);
				@include dis();
				line-height:$height - 7;
				color: map-get($color,gray5);
				&:hover{
					background: map-get($color,gray3);
				}
			}
			.header-classes a{
				margin-right:7px;
			}
			.header-pipe{
				float: left;
			    height: $height;
			    line-height: $height;
			    padding: 0 5px;
			    font-style: normal;
			    color: #ddd;
			}
			.header-map-down{
				@include dis(none);
				@include bdr(#EEE);
				background: map-get($color,white);
				position:absolute;
				right: 0px;
				margin-top:-1px;
				z-index:900;
				width: $w - 2;
				min-height: 300px;
			}
		}

	}
}
.header .headerW .headerright .header-map-li{
	position:relative;
	&:hover .header-map-down{
		@include dis();
	}
}
.map-list{
	width: 25%;
	@include f();
	.map-list-wrap{
		@include p(5px,5px,5px,5px);
		.map-title{

		}
		.map-main li{
			float: left;
		    padding-top: 5px;
		    width: 25%;
		    height: 25px;
		    overflow: hidden;
		    a{
		    	@include dis();
		    	@include p(0,8px,0,8px);
		    	@include m(0,2px,0,2px);
		    	@include radius(1234,2px);
		    	@include f();
		    	line-height: 26px!important;
		    	&:hover{
		    		color: #fff!important;
		    		background-color: #f50!important;
		    	}
		    }
		}
	}
}
.page{
    background:white;
}
/* logo */
.logo{
	position: relative;
    height: 43px;
    padding: 20px 0;
    width:$w;
    @include mgat();
    h1{
    	display:block;
    	float:left;
    	.regiconfont{
    	    display: block;
		    color: #ff4001;
		    font-size: 36px;
		    font-weight: 400;
    	}
    	.regicon1{
    	    position: relative;
    		top: -18px;
    	}
    	.regicon2{
    		font-size: 50px;
		    position: relative;
		    top: -61px;
    	}
    }
    h2{
        display: inline-block;
	    zoom: 1;
	    height: 43px;
	    line-height: 43px;
	    margin-left: 6px;
	    font-size: 22px;
	    font-family: "\5FAE\8F6F\96C5\9ED1","\534E\6587\7EC6\9ED1","\9ED1\4F53",arial;
	    font-weight: 400;
	    vertical-align: middle;
    }
}

/* 步骤 */
.step{
	height: 46px;
    border-bottom: 2px solid #e6e6e6;
    position: relative;
    @include mgat();
    width:$w;
    ul{
        width: 720px;
    	@include mgat();
    	li{
    	    width: 180px;
    		padding-left: 60px;
    	    display: inline;
		    float: left;
		    height: 46px;
		    line-height: 46px;
		    font-size: 16px;
		    font-weight: 700;
		    i{
		        display: inline-block;
			    margin-right: 5px;
			    width: 24px;
			    height: 24px;
			    text-align: center;
			    font-style: normal;
			    line-height: 24px;
			    font-size: 14px;
			    font-weight: 700;
			    color: #FFF;
			    background: url(../img/ico-circle2.png) no-repeat 0 0;
		    }
		    b{
		        color: #999;
    			font-family: "\5FAE\8F6F\96C5\9ED1","\534E\6587\7EC6\9ED1","\9ED1\4F53",arial;
		    }
    	}
    	.stepavtive{
    		border-bottom: 2px solid #ff4700;
    		i{
    		    background-image: url(../img/ico-circle1.png);
    		}
    		b{
    			color: #3e3e3e;
    		}
    	}
    }
    .switch{
    	position: absolute;
	    right: 0;
	    top: 15px;
	    font-size: 12px;
	    a{
	    	padding: 3px 5px;
		    color: #333;
		    border: 1px solid #ddd;
		    border-radius: 3px;
		    margin-right: 2px;
		    &:hover{
		    	color: #ff5b20;
    			text-decoration: underline;
		    }
	    }
    }
}

/* 注册框 */
.content{
	padding:50px 0;
	@include mgat();
    width:$w;
    .wrong{
		color:#ff3f13;
    }
    .correct{
    	color:#6bc827;
    }
    .gantan{
    	color:#00bfff;
    }
    .inputtext{
    	border: 1px solid #dedede;
	    width: 202px;
	    height: 17px;
	    line-height: 17px;
	    padding: 9px;
	    font-size: 14px;
    }
    .inputbox{
	    padding: 10px 0 10px 260px;
		line-height: 36px;
		height:42px;
		a{
		    color: #ff5b20;
		    &:hover{
		    	text-decoration:underline;
		    }
		}
		label{
			display: inline;
		    float: left;
		    margin-left: -260px;
		    width: 240px;
		    height: 37px;
		    line-height: 37px;
		    text-align: right;
		    font-size: 14px;
		    color:#3c3c3c;
		}
		.tips{
			display:inline-block;
			position:absolute;
		}
		.nullp{
			display:block;
			height:50px;
		}
    }
    button{
        display: inline-block;
	    zoom: 1;
	    height: 36px;
	    line-height: 36px;
	    padding: 0 20px;
	    color: #FFF;
	    font-weight: 700;
	    font-size: 16px;
	    text-align: center;
	    background: #ff4001;
	    border: 0;
	    border-radius: 3px;
	    cursor: pointer;
	    outline:none;
	    border:0;
	    min-width:180px;
    }
}
/* 拖动验证 */
.drag{
    width: 300px;
    height: 34px;
    background: #e8e8e8;
    position: relative;
    margin: 0;
    padding: 0;
    .slide{
    	position: absolute;
	    height: 100%;
	    left: 0;
	    background: #7ac23c;
    }
    .btn_slide{
        text-align: center;
	    width: 40px;
	    height: 32px;
	    line-height: 32px;
	    border: 1px solid #ccc;
	    position: absolute;
	    left: 0;
	    cursor: move;
	    background: #fff;
	    z-index: 2;
	    color:#737383;
    }
    .dragtip{
	    width: 100%;
	    height: 100%;
	    text-align: center;
	    position: absolute;
	    z-index: 1;
	    background: transparent;
	    color: #9c9c9c;
	    line-height: 34px;
	    font-size: 12px;
	    cursor: pointer;
	    @include css3(user-select,none);
    }
}

/* box1手机输入阶段*/
.box1{
	width:720px;
	@include mgat();
	.areaselect{
		border: 1px solid #ccc;
	    font-size: 14px;
	    outline: 0;
	    position: relative;
	    cursor: pointer;
	    float: left;
	    padding-left: 10px;
	    height: 35px;
	    font-weight: 700;
	    overflow: hidden;
	    .text{
	        float: left;
		    width: 85px;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		    height: 35px;
		    color: #3c3c3c;
	    }
	    .code{
	        float: right;
				margin-right: 25px;
			    color: #3c3c3c;
	    }
	    .downicon{
	    	position: absolute;
		    top: 15px;
		    right: 8px;
		    width: 10px;
		    height: 5px;
		    background:url(../img/up-down.png) -10px -25px no-repeat;
	    }
	}
	#phone{
	    width: 140px;
		float: left;
	}
	.next-step{
		display: inline-block;
		height: 36px;
		line-height: 36px;
	    padding: 0 20px;
		font-weight: 700;
	    font-size: 16px;
	    text-align: center;
		border: 0;
	    border-radius: 3px;
		outline:none;
	    background-color: #ededed;
	    border-color: #ededed;
	    color: #999;
	    cursor: not-allowed;
	    min-width:180px;
	    &:hover{
	    	color:white;
	    }
	}
}

/* box2密码输入阶段*/
.box2{
	display:none;
	width: 720px;
	@include mgat();
	.passwordbox{
		position:relative;
		.pwtip{
			z-index: 1;
			display:none;
			position:absolute;
		    right: -74px;
    		top: -39px;
			padding-left:6px;
			width:300px;
			height:140px;
			.pw-tip-small{
				display: block;
			    width: 7px;
			    height: 9px;
			    background: url(../img/arr-left.png) no-repeat 0 0;
			    position: absolute;
			    left: 0;
			    top: 50%;
			    margin-top: -5px;
			}
			.pw-tip-padding{
			    padding: 20px;
			    background: #fff url(../img/pw-tip-bd.png) 0 100% repeat-x;
			    border: 1px solid #c2c8c8;
			}
		}
		.pw-strength{
			height: 18px;
		    line-height: 18px;
		    position: relative;
		    padding-bottom: 10px;
		    p{
		    	display:inline-block;
		    }
		    .strengthBox{
		    	width: 95px;
			    position: absolute;
			    left: 60px;
			    top: 0;
			    span{
			    	display: block;
				    width: 25px;
				    height: 10px;
				    float: left;
				    margin-left: 1px;
				    background-color: #dcdcdc;
				    position: relative;
				    top: 5px;
			    }
			    em{
			    	display: block;
				    width: 15px;
				    height: 18px;
				    line-height: 18px;
				    float: left;
			    }
		    }
		}
		.pw-rule{
			display:block;
			.pw-rule-item{
			    padding: 2px 0;
			    line-height:14px;
			    .regiconfont{
			    	margin-right: 3px;
				    font-size: 12px;
				    font-weight: 700;
				    vertical-align: middle;
			    }
			}
			.pw-icon-error{
				color:#ff460f;
			}
			.pw-icon-ok{
				color:#14c2b3;
			}
			.pw-icon-normal{
				color:#b7b7b7;
			}
		}
	}
	.labelWt{
		font-weight:bolder;
	}
	p{
		color:#3c3c3c;
	}
	.largep{
		font-size: 14px;
	}
}

/* box3注册成功阶段*/
.box3{
	display:none;
	padding: 20px 20px 20px 170px;
    margin-bottom: 10px;
    font-size: 14px;
    background: #f3fdf6;
    border: 1px solid #def3e6;
    overflow: hidden;
    height:175px;
    .regiconfont{
        display: inline;
	    float: left;
	    margin-left: -40px;
	    font-size: 32px;
	    line-height: 32px;
	    color: #15c2b4;
    }
    h2{
    	font-weight: normal;
    	margin-bottom:20px;
    }
    span{
        color: #ff4403;
    	font-weight: 700;
    }
    p{
    	color:#3c3c3c;
    	padding:10px 0;
    }

}



/* 底部 */
.footer{
	position: relative;
    margin: 60px auto 0;
    padding: 7px 0 9px;
    border-top: 1px solid #ddd;
    width: 1200px;
    a{
    	/* display: inline;
	    float: left; */
	    margin: 0 8px;
	    white-space: nowrap;
	    color: #6c6c6c;
    }
    a:hover{
		color: #f40;
    }
    li{
    	@include f();
    }
    .footmap{
    	height:20px;
    	padding-bottom:20px;
    	border-bottom: 1px solid #ddd;
    }
    p{
    	display:inline-block;
    	@include f();
    }
    .foot-cooperate{
    	height:20px;
    	margin-top:10px;
    	.last-li{
    	    margin-left: 30px;
    	    color: #9c9c9c;
    	}
    }
    .foot-ft{
    	height:20px;
    	margin-top:10px;
    	li{
    		color: #9c9c9c;
    		margin: 0 8px;
    	}
    }
}